body {
    color: goldenrod;
    text-align: center;
    font-family: "courier";
}

#container {
   width: 70%;
   padding: 1rem;
   text-align: left;
   border: 1px solid black; 
   margin: 0 auto;
}

#post h1 {
    font-weight: bold;
    font-size: 20px;
}